name: Secret Scan

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  gitleaks-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run gitleaks
        uses: zricethezav/gitleaks-action@v3
        with:
          args: --path . --verbose
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
